<% if(isAuthenticated) { %>
    <% include /layout/authheader %>
<% } else { %>
    <% include /layout/header %>
<% } %>


                <div class='box-body'>
                    <div class="container-fluid">

                        <div class="row-fluid">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/news'>
                                            <img class="img-responsive thumbnail" src="img/lawyer.jpg" alt="" />
                                            <div class="carousel-caption">
                                                <h4>热点问题</h4>
                                                <h6>有什么新的韩国</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/rent'>
                                            <img class="img-responsive thumbnail" src="img/cellrental.jpg" alt="" />
                                            <div class="carousel-caption">
                                                <h4>手机租赁服务</h4>
                                                <h6>韩国手机租赁</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                 <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/sim'>
                                            <img class="img-responsive thumbnail" src="img/Usim.jpg" alt="" />
                                            <div class="carousel-caption">
                                                <h4>SIM 卡</h4>
                                                <h6>韩国SIM卡</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                 <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/movie'>
                                            <img class="img-responsive thumbnail" src="img/even.jpg" alt="" />
                                            <div class="carousel-caption">
                                                <h4>活动</h4>
                                                <h6>旅行和医疗旅游的信息来源</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                            </div>

                        </div>
                        <div class="row-fluid">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/music'>
                                            <img class="img-responsive thumbnail" src="img/sale.jpg" alt="" />
                                            <div class="carousel-caption">
                                                <h4>医疗折扣活动</h4>
                                                <h6>医疗特别优惠信息</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                                
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/salemedi'>
                                            <img class="img-responsive thumbnail" src="img/medialkorea.jpg" alt="" />
                                            <div class="carousel-caption">
                                                <h4>引进医疗服务</h4>
                                                <h6>医院位置及治疗服务的信息</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                                
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                 <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/hanryu'>
                                            <img class="img-responsive thumbnail" src="img/hanryu.jpg" alt="" />
                                            <div class="carousel-caption">
                                                <h4>韩流吸引力</h4>
                                                <h6>事件在韩国推出</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                                
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="carousel slide"><!-- class of slide for animation -->
                                    <div class="carousel-inner">
                                        <div class="active"><!-- class of active since it's the first item -->
                                        <a href='/3rdpot'>
                                            <img class="img-responsive thumbnail" src="img/log_3rd.gif" alt="" />
                                            <div class="carousel-caption">
                                                <h4>活动</h4>
                                                <h6>旅行和医疗旅游的信息来源</h6>
                                            </div>
                                            </a>
                                        </div>

                                    </div><!-- /.carousel-inner -->
                                    <!--  Next and Previous controls below
                                          href values must reference the id for this carousel -->
                                </div><!-- /.carousel -->
                                
                                

                            </div>

                        </div>


                    </div>
                </div>



<% include layout/footer %>
