<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>



<address>
  <h3><strong>主要联系人</strong></h3><br>
   电话号码 : 82) 2-3789-1988
<br>
电子邮件 : jinkuy21@3rdpot.co.kr
<br>
QQ : 1195229355 
</address>
        


<% include ../layout/footer %>