<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">牙齿的</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/music/music9">
                    <img src="../img/louivin.jpg" alt="louivin">
                    <div class="caption">
                        <h3 class='text-center'>空牙路易</h3>
                        <p>免费牙齿检查</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/music/music10">
                    <img src="../img/bomdental.jpg" alt="bomdental">
                    <div class="caption">
                        <h3 class='text-center'>空牙路易</h3>
                        <p>特别活动</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/music/music11">
                    <img src="../img/myoungok.jpg" alt="bomdental">
                    <div class="caption">
                        <h3 class='text-center'>春天来了牙科</h3>
                        <p>特别活动</p>
                    </div>
                </a>
            </div>
        </div>


    </div>    
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">整形外科</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="#">
                    <img src="" alt="n/a">
                    <div class="caption">
                        <h3 class='text-center'>皮肤科</h3>
                        <p>준비중</p>
                    </div>
                </a>
            </div>
        </div>

    </div>    
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">皮肤科</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="#">
                    <img src="" alt="n/a">
                    <div class="caption">
                        <h3 class='text-center'>준비중</h3>
                        <p>준비중</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="#">
                    <img src="" alt="n/a">
                    <div class="caption">
                        <h3 class='text-center'>준비중</h3>
                        <p>준비중</p>
                    </div>
                </a>
            </div>
        </div>

    </div>    
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">韩医院</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="#">
                    <img src="" alt="n/a">
                    <div class="caption">
                        <h3 class='text-center'>준비중</h3>
                        <p>준비중</p>
                    </div>
                </a>
            </div>
        </div>

    </div>    
</div>


<% include ../footer %>