<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">병원 치료과목 소개</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi1">
                    <img src="../img/wonjincosme.jpg" alt="wonjincosme">
                    <div class="caption">
                        <h3 class='text-center'>原真整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi2">
                    <img src="../img/samsungline.jpg" alt="samsungline">
                    <div class="caption">
                        <h3 class='text-center'>三星线 整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi3">
                    <img src="../img/chorus_logo.jpg" alt="chorus_logo">
                    <div class="caption">
                        <h3 class='text-center'>chorus整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi4">
                    <img src="../img/comein.jpg" alt="comein">
                    <div class="caption">
                        <h3 class='text-center'>鼻美人整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi5">
                    <img src="../img/jsme.gif" alt="jsme">
                    <div class="caption">
                        <h3 class='text-center'>Js美</h3>
                        <p>下半身和身体塑形医院</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi6">
                    <img src="../img/beautyclassic.jpg" alt="beautyclassic">
                    <div class="caption">
                        <h3 class='text-center'>美女经典皮肤科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi7">
                    <img src="../img/luxell.jpg" alt="luxell">
                    <div class="caption">
                        <h3 class='text-center'>Luxell</h3>
                        <p>下半身和身体塑形医院</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi8">
                    <img src="../img/louivin.jpg" alt="louivin">
                    <div class="caption">
                        <h3 class='text-center'>鲁汶牙科&皮肤科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi9">
                    <img src="../img/bomdental.jpg" alt="bomdental">
                    <div class="caption">
                        <h3 class='text-center'>Live dental clinic</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi10">
                    <img src="../img/clean/clean_logo.jpg" alt="clean_logo">
                    <div class="caption">
                        <h3 class='text-center'>clean 外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/salemedi/salemedi11">
                    <img src="../img/hus-hu/hus-hu_logo.jpg" alt="hus-hu_logo">
                    <div class="caption">
                        <h3 class='text-center'>Hus-hu 牙科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<% include ../layout/footer %>