<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">병원 치료과목 소개</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="../img/cellphone/bestrent_85.jpg" alt="bestrent_85">
                <div class="caption">
                    <h3 class='text-center'>행사소개</h3>
                    <p>행사의 특징은 ----로써 ----를 가지고 ---</p>
                    <a href='/customer/gpsRoute' class='btn btn-primary'>위치찾기A</a>
                </div>
            </div>
        </div>

        
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img01.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img02.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img03.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img04.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img21.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img22.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img23.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img24.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img25.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img31.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img32.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img33.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img34.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img41.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img41.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img42.jpg" alt="picture">
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_3/banner_img43.jpg" alt="picture">
            </div>
        </div>               

    </div>
</div>

<% include ../layout/footer %>