<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">병원 치료과목 소개</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="thumbnail">
                <img src="../img/cellphone/bestrent_85.jpg" alt="bestrent_85">
                <div class="caption">
                    <h3 class='text-center'>행사소개</h3>
                    <p>행사의 특징은 ----로써 ----를 가지고 ---</p>
                    <a href='/customer/gpsRoute' class='btn btn-primary'>위치찾기A</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                    <img src="../img/won/won_1/picture.jpg" alt="picture">
                    <div class="caption">
                        <h3 class='text-center'></h3>
                        <p></p>
                    </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                    <img src="../img/won/won_1/picture2.jpg" alt="picture2">
                    <div class="caption">
                        <h3 class='text-center'></h3>
                        <p></p>
                    </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture3.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture4.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture5.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture6.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture7.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture8.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture9.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture10.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture11.jpg"/>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/won/won_1/picture12.jpg"/>
            </div>
        </div>

        

    </div>
</div>

<% include ../layout/footer %>