<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                    <img src="../img/octagon.jpg" alt="octagon">
                    <div class="caption">
                    <h3 class='text-center'>Club Octagon</h3>
                    <p> 
                        达人点评：Cotagon在江南人气是数一数二的，经常邀请国内外知名dj进行表演，</br>喜爱音乐的年轻人们把这里当成了音乐的圣坛，天天爆满。经常有一些大型的公司活动与octagon一起合作，</br>
                        曾与三星集团合作的银行卡活动禁止外人进入。 与韩国时尚杂志maxin一起举办时尚派对！Octagon在韩国算是规模最大的club，</br>店内分晚餐与bar及club三部分组成，晚餐提供各式料理，龙虾，海鲜面等按照季节不同，</br>
                        每月会有不同的料理推荐，酒吧氛围也优雅别致，酒吧内拥有韩国最早的living room。 地下一层的bar空间，</br>分自由区跟vip区，在自由区天棚是以粗狂的大吊灯组成，吊灯被设计成工厂螺丝的形状，</br>
                        预示着这里原本工厂的气息的。同时在bar区也配有小型的dj台。让你无论在哪个区域都能感受到音乐带来的刺激感受。</br>Vip区则是需要预约，Vip区有纯皮舒适的大床，犹如你置身于自家派对中，</br>
                        无拘无束尽享激情音乐与美酒带来的快感中。楼下的club内，配备超大液晶屏幕，感官刺激绝对让你震撼，结合全韩国顶级的dj，</br>画面与音乐的双重刺激让你迅速的融入到octagon超火热的氛围中。值得一提的是场内的配有小型的游泳池，</br>
                        美女置身其中配以光彩陆离的霓虹景色，宛如置加勒比奇幻之旅 </br>
                        夏日到此，酒精、音乐、美女、湿身泳池有几个人又能抵得住这样的诱惑呢？如果你来韩国是感受时尚与刺激的这里可以当做你的大本营 </br>
                        营业时间：周五周六晚10点到早晨6点 </br>
                        门票：30000韩币 </br>
                        地址：首尔特别市江南区论岘洞175-2 </br>
                        营业时间：周五周六晚10点到早晨6点 </br> 门票：30000韩币 </br>地址：首尔特别市江南区论岘洞175-2 
                    </p>
                    <a herf="" classs='btn btn-primary'>문화역사 서울 284 찾아가기</a>
                    </div>
            </div>
        </div>
    

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/garosu.jpg" alt="garosu">
                <div class="caption">
                    <h3 class='text-center'>新沙洞街路树街</h3>
                    <p>
                        新沙洞街路树街(신사동 가로수길)：位于江南大路和狎鸥亭洞的大街，路旁种满银杏树，加上路旁的两层式住宅，是江南区少数具有欧陆小镇式异国风情的大街。
                    </p>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/rodeo.jpg" alt="rodeo">
                <div class="caption">
                    <h3 class='text-center'>Rodeo道</h3>
                    <p>
                        大街名字来源于位于美国Beverly Hills的高级名品街Rodeo Drive，</br>现在Rodea大街成为了时尚大街的代名词。因此，韩国各地时尚大街的前面都加上了Rodeo的名字。</br>
                        除了韩国品牌，大部分是外国进口品牌。最近更是加宽了路面，增加了行人休息区，也是逛街过眼瘾得好地方。首尔狎鴎亭RODEO大街可以说是代表首尔最前沿时尚的大街，装潢精美独特的咖啡厅，</br>
                        餐厅也随处可见。在这里，可以品尝到美味地道的韩国料理，日本料理，中华料理，意大利料理等世界各地代表料理。</br>
                        其中更是有演艺人经营的店面，还有一些则是演艺人经常光顾的店面。店内墙上挂着演艺人的亲笔签字。</br>
                        如果能看见自己钟爱的品牌，则更是心花怒放。</br>
                        如果有机会来韩国旅游，一定不要错过这里哦！！~~</br>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/kangnamcaferoad.jpg" alt="kangnamcaferoad">
                <div class="caption">
                    <h3 class='text-center'>江南网吧</h3>
                    <p>
                        江南咖啡街是位于江南CGV剧场后面的SevenEleven为起点直走350米左右在吴宗硕婚纱摄影</br>
                        的最后区域。</br>
                        江南站咖啡街的趣点之一是在每个胡同里都隐藏着能一眼就能看出来的的店铺。对咖啡有</br>
                        兴趣的旅客或是想享受点浪漫的情侣去江南咖啡街找家有气氛的咖啡屋喝喝咖啡是个了好</br>
                        的选择。</br>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/apgujung.jpg" alt="apgujung">
                <div class="caption">
                    <h3 class='text-center'>狎鸥亭</h3>
                    <p>
                        狎鸥亭</br>
                        狎鸥亭是江南上流层们代表性的购物街区，这里时尚前卫、</br>经典极致的地方处处可见。关注美容时尚，</br>挚爱文化和艺术的中产层以上的年轻人们引导着最新的潮流和社会趋势，</br>可谓首尔的热门街区（hot place）之一。</br>
                    </p>
                </div>
            </div>
        </div>



    </div>
</div>


<div class="box box-primary">
    <div class="box-header bg-primary">
        <p class="box-title">付款</p>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form action='' method='POST'>
        <div class="box-body">
            

            <div class="box-header">
                <h3 class='text-center'>总购买价</h3>
                <div class='text-center'><span id="price">00.00 USD</span></div>
            </div>
            <div class="box-body">

                <div class="form-group">
                    <label for="name">地址</label>
                    <input type="text" name="name" id="name" value=""  class="form-control" />
                </div>
                <div class="form-group">
                    <label for="name">电话号码</label>
                    <input type="phone" name="phone" id="phone" value=""  class="form-control" />
                </div>
                

                <fieldset>
                    <legend>另请参阅</legend>
                    ddd
                </fieldset>

                
            </div><!-- /.box-body -->


        </div><!-- /.box-body -->

        <div class="box-footer">
        <a href='#page1' class="btn btn-primary">采购</a>
        <a href='#page1' class="btn btn-primary">添加到购物车</a>
        <a href='/music' class="btn btn-primary">返回</a>
        </div>
    </form>
</div><!-- /.box -->



<% include ../layout/footer %>