<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                    <img src="../img/namsan/namsanartcenter.jpg" alt="namsanartcenter">
                    <div class="caption">
                    <h3 class='text-center'>南山艺术中心</h3>
                    <p> 
                        必去理由：首尔中区最著名的艺术中心之一 </br>
                        景点所在大洲：亚洲【Asia】</br>
                        景点所在国家/地区：韩国[Korea]</br>
                        景点所在省、州：首尔特别市 [Seoul Special City] </br>
                        景点所在城市：中区 [Jung-gu] </br>
                        景点简介：</br>
                        南山艺术中心是首尔文化财团旗下的11处“首尔市创作空间”之一，坐落在首尔市中区松坡路上。</br>
                        它以艺术家和普通市民为对象，每天都吸引众多游客到此参观游览与欣赏艺术。</br>
                        南山艺术中心由话剧中心和艺术教育中心构成，其中话剧中心是韩国现代话剧的前辈东朗柳致真在1962年建立的，</br>
                        为韩国最早的现代式剧场。1997年话剧中心的内部重新修建，装备了最先进的舞台、音响和影像等设备，</br>
                        使游客在这里不仅可以看到韩国国内先进的舞台效果，还可以欣赏创新型的现代话剧。</br>
                        话剧中心的右后面就是艺术教育中心，1楼和2楼是首尔文化艺术支援中心办公室和教室。这里以学校、</br>
                        社会机构和普通市民等为对象进行各种文化艺术教育发展的支持。3楼是艺术教育信息资料馆，</br>
                        这里有关于艺术的各种图书、影像资料8000余部，游客可以自由浏览。</br>
                    </p>
                    <a herf="" classs='btn btn-primary'>sm GPS</a>
                    </div>
            </div>
        </div>
    

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/namsan/namsananimationcenter.jpg" alt="namsananimationcenter">
                <div class="caption">
                    <h3 class='text-center'>首尔动漫中心</h3>
                    <p>
                        首尔市为了培育国内漫画和动画产业，于1999年设立了首尔动画中心。该中心由产业通商机构运营。</br>
                        目前初步分为，动画专用剧场“首尔动画影院”，企划展示空间，动画原理直接体验空间等。另外的一栋漫画之家的大楼里，</br>
                        有可以随意阅读和观看的漫画书、动画DVD等，很受儿童和青少年欢迎。乘坐南山环路巴士，同时参观N首尔塔和动画中心，</br>
                        是条不错的线路。</br>
                     
                        动画专用剧场和展示厅</br>
                        首尔动画中心由两栋楼组成，分别是动画中心和漫画之家。进到中心里面，便能看见首尔动画影院，</br>
                        这是韩国最早的专用动画影院。影院平时上映韩国内外优秀的动画作品。旁边的展示厅展示了漫画、动画、</br>
                        以及关联的企划和制作。还有三四分钟的4D立体影像可以观看，观看的同时椅子也会跟着移动。</br>
                        展示厅同时还配有“兴高采烈的儿童乐园”可供孩子们玩耍。</br>   
                    </p>
                    <a herf="" classs='btn btn-primary'>JYP GPS</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/namsan/namsantower.jpg" alt="namsantower">
                <div class="caption">
                    <h3 class='text-center'>南山塔</h3>
                    <p>
                        1.  首尔南山塔（N首尔塔）位于首尔市龙山区南山公园路，位于海拔243.0米的南山公园，</br>塔高236.7米（塔身135.7米，铁塔101米）。</br>
                            南山塔不仅位于首尔市最大的公园（南山公园），而且位于首尔市中心。作为首尔的象征，东边龙门山，</br>
                            西边仁川前海与仁川港，南面可以远望南汉山城，北面又可以俯视松岳山。</br>
                            在展望台不仅可以看到晴空万里下繁华都市，璀璨繁星的夜景也让游客流连忘返。</br>在1980年以后对一般市民开放以后，吸引来很多的海内外游客，</br>
                            成为韩国旅游必去的景点之一。</br>
                              
                        2.  南山塔泰迪熊博物馆</br>
                            南山塔主要分三部分，泰迪熊的博物馆，法国、意大利、韩国正食等特色餐厅以及展望台。</br>
                            位于一层的是泰迪熊博物馆，是为了深受人们喜爱的玩具熊泰迪而建立的，游客们在这里尽情享受与泰迪的欢乐时光。</br>
                            主要从历史和现代两个馆组成，历史馆是从朝鲜时代到汉城再到首尔；又有古代两班的生活原型，又有古代平民百姓的市井生活。</br>
                            现代馆是从鸭鸥亭到三清洞的首尔现貌。当看到可爱的小泰迪穿着传统服装时，是不是很有趣呢？回到现实，</br>
                            融入韩流文化，既有电视剧中青春浪漫的爱情模型，还有温馨的家族模型。不论和家人还是朋友都会给大家带来轻松欢快的泰迪之旅。</br> 
                    </p>
                    <a herf="" classs='btn btn-primary'>YG Family GPS</a>
                </div>
            </div>
        </div>



    </div>
</div>


<div class="box box-primary">
    <div class="box-header bg-primary">
        <p class="box-title">付款</p>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form action='' method='POST'>
        <div class="box-body">
            

            <div class="box-header">
                <h3 class='text-center'>总购买价</h3>
                <div class='text-center'><span id="price">00.00 USD</span></div>
            </div>
            <div class="box-body">

                <div class="form-group">
                    <label for="name">地址</label>
                    <input type="text" name="name" id="name" value=""  class="form-control" />
                </div>
                <div class="form-group">
                    <label for="name">电话号码</label>
                    <input type="phone" name="phone" id="phone" value=""  class="form-control" />
                </div>
                

                <fieldset>
                    <legend>另请参阅</legend>
                    ddd
                </fieldset>

                
            </div><!-- /.box-body -->


        </div><!-- /.box-body -->

        <div class="box-footer">
        <a href='#page1' class="btn btn-primary">采购</a>
        <a href='#page1' class="btn btn-primary">添加到购物车</a>
        <a href='/music' class="btn btn-primary">返回</a>
        </div>
    </form>
</div><!-- /.box -->



<% include ../layout/footer %>