<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/hongdae/hongdaeclub.jpg" alt="hongdaeclub">
                <div class="caption">
                <h3 class='text-center'>弘大夜店地图</h3>
                <p> 
                    弘大这里有很多有名的夜店，每月最后一周的周五，这里将成为超越国境和年龄的全球狂</br>
                    欢现场，因为在这天要举行“俱乐部日”。只要您手持一张一万五千韩元的门票，就可以
                    任意出入15家主要俱乐部。本活动从当日晚上8时至第二天凌晨6时。如果幸运的话，也许
                    你还可以遇到明星哦，一起HIGH起来吧
                </p>
                </div>
            </div>
        </div>
    

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/hongdae/boyase.jpg" alt="boyase">
                <div class="caption">
                    <h3 class='text-center'>弘大BOOYAS肥肠</h3>
                    <p>
                        店门外面的大牌子展示了店家引以为傲的乌冬面的图片和介绍，顾客不喜欢菜单的话直接</br>
                        看后走掉也不用进店，喜欢的话可以考虑想吃什么决定以后进店吃饭，一进门就点单，不</br>
                        一会就能吃上，效率的很~</br>
                        来首尔路旅游的童鞋们要想吃的饱吃的好</br>
                        认准乌冬王中王~面霸元禄乌冬面~人民币35块钱吃到饱！挑战次三倍面碗吧~</br>
                        这里附上建大店的地址：建大入口站2号出口美食街一进去10米右手边olive young旁边的</br>
                        胡同进去直走15米左右便是</br>
                    </p>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/hongdae/hometown.jpg" alt="hometown">
                <div class="caption">
                    <h3 class='text-center'>弘大我故乡盲肠</h3>
                    <p>
                        弘大我故乡盲肠店因为是非常火的原因在对面又开了一个分店</br>
                        坐等了一会盲肠就出来了</br>
                        要开始烤熟了</br>
                        写这个字的时候是一周前 但是现有又想吃了^^</br>
                        每次去这个地方都很愉快  这里是一个愉快的地方
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/hongdae/hongdae.jpg" alt="hongdae">
                <div class="caption">
                    <h3 class='text-center'>弘大黑帮炒年糕</h3>
                    <p>
                        沒有翻錯，他真的就叫黑社會辣炒年糕~</br>
                        還有人直接說他是壞人、流氓辣炒年糕~其實都是對的啦~</br>
                        這一看還真像~呵呵呵~但無損他年糕好吃~</br>
                        每天依然會有大量人潮在排隊~</br>
                        另外這裡算是自助性的~吃完後要自行端到右下角的架子上喔~</br>
                        還有要喝水喝湯也請自行取用~</br>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/hongdae/genroku.jpg" alt="genroku">
                <div class="caption">
                    <h3 class='text-center'>元禄乌冬面</h3>
                    <p>
                        店门外面的大牌子展示了店家引以为傲的乌冬面的图片和介绍，</br>其实我挺喜欢这种方式的，菜单价格和介绍都在外面一目了然，</br>
                        顾客不喜欢菜单的话直接看后走掉也不用进店，喜欢的话可以考虑想吃什么决定以后进店吃饭，</br>一进门就点单，不一会就能吃上，效率的很~</br>
                        看门口这牌子也知道，</br>店家清楚明了的写到他们招牌乌冬面有三个size ：普通面碗，两倍面碗，三倍面碗，</br>
                        重点是都是一样钱耶！！大家根据自己的饭量战斗力点就可以了</br></br>
                        另一种是日式营养蒸饭 ，</br>
                        就是把蔬菜肉汁跟饭煮在一起的样子，都试过觉得前者更能接受一些，后者味道淡却口感很油腻。</br>
                        晚饭是点这个每样2500韩币,中午来时比较划算,点面就送两个其中任意一样</br>
                    </p>
                </div>
            </div>
        </div>



    </div>
</div>


<div class="box box-primary">
    <div class="box-header bg-primary">
        <p class="box-title">付款</p>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form action='' method='POST'>
        <div class="box-body">
            

            <div class="box-header">
                <h3 class='text-center'>总购买价</h3>
                <div class='text-center'><span id="price">00.00 USD</span></div>
            </div>
            <div class="box-body">

                <div class="form-group">
                    <label for="name">地址</label>
                    <input type="text" name="name" id="name" value=""  class="form-control" />
                </div>
                <div class="form-group">
                    <label for="name">电话号码</label>
                    <input type="phone" name="phone" id="phone" value=""  class="form-control" />
                </div>
                

                <fieldset>
                    <legend>另请参阅</legend>
                    ddd
                </fieldset>

                
            </div><!-- /.box-body -->


        </div><!-- /.box-body -->

        <div class="box-footer">
        <a href='#page1' class="btn btn-primary">采购</a>
        <a href='#page1' class="btn btn-primary">添加到购物车</a>
        <a href='/music' class="btn btn-primary">返回</a>
        </div>
    </form>
</div><!-- /.box -->



<% include ../layout/footer %>