<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">韩国日活动</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1">
                    <img src="../img/seoulzoo.jpg" alt="seoulzoo">
                    <div class="caption">
                        <h3 class='text-center'>首尔动物园</h3>
                        <p>期六，2013年12月21日 - 2014年2月2日（周日）|地方果川首尔大公园 </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_1">
                    <img src="../img/jarasum.png" alt="jarasum">
                    <div class="caption">
                        <h3 class='text-center'>Jarasum</h3>
                        <p>期内周五2014年1月3日 - 2014年1月26日（周日）|加平Gapyeongcheon一个地方游戏</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_2">
                    <img src="../img/hanok.jpg" alt="hanok">
                    <div class="caption">
                        <h3 class='text-center'>南山韩屋村</h3>
                        <p>南山韩屋村节</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_3">
                    <img src="../img/starshine.jpg" alt="starshine">
                    <div class="caption">
                        <h3 class='text-center'>星光秋天的花园</h3>
                        <p>期星期五，2013年6月12日 - 2014年3月16日（周日）|加平晨静树木园地方游戏</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_6">
                    <img src="../img/lightstory.jpg" alt="lightstory">
                    <div class="caption">
                        <h3 class='text-center'>香草岛童话节灯</h3>
                        <p>期间星期五，01/11/2013 - 2014年4月30日（수）|地方比赛抱川香草岛</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_8">
                    <img src="../img/koreastyleweek.jpg" alt="koreastyleweek">
                    <div class="caption">
                        <h3 class='text-center'>韩版周</h3>
                        <p>期间周四2014年9月1日 - 2014年1月12日（周日）|地方COEX，江南区，首尔（COEX）D厅</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_9">
                    <img src="../img/salondesho.jpg" alt="salondesho">
                    <div class="caption">
                        <h3 class='text-center'>首尔夏龙德巧克力</h3>
                        <p>期间周四16/01/2014 - 2014年1月19日（周日）|地方COEX，江南区，首尔（COEX）</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_10">
                    <img src="../img/seoulsnowfestival.jpg" alt="seoulsnowfestival">
                    <div class="caption">
                        <h3 class='text-center'>冰雪节2013首尔 - 首尔享受你的冬天！</h3>
                        <p>期星期三，二○一三年十二月十八日 - 2014年2月9日（周日）|地方龙山战争纪念馆和平广场</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie1_12">
                    <img src="../img/snowfestival.jpg" alt="snowfestival">
                    <div class="caption">
                        <h3 class='text-center'>雪鳟鱼soekkol村的节日</h3>
                        <p>期间星期六，28/12/2013 - 2014年2月9日（周日）|坡州地方soekkol村游戏</p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">整形外科</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie6">
                    <img src="../img/wonjincosme.jpg" alt="wonjincosme">
                    <div class="caption">
                        <h3 class='text-center'>原真整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie17">
                    <img src="../img/grand/grand_logo.jpg" alt="grand_logo">
                    <div class="caption">
                        <h3 class='text-center'>高兰得整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie18">
                    <img src="../img/life/life_logo.jpg" alt="life_logo">
                    <div class="caption">
                        <h3 class='text-center'>丽妃整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie15">
                    <img src="../img/samsungline.jpg" alt="samsungline">
                    <div class="caption">
                        <h3 class='text-center'>三星线 整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie16">
                    <img src="../img/chorus_logo.jpg" alt="chorus_logo">
                    <div class="caption">
                        <h3 class='text-center'>chorus整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie13">
                    <img src="../img/comein.jpg" alt="comein">
                    <div class="caption">
                        <h3 class='text-center'>鼻美人整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie8">
                    <img src="../img/jsme.gif" alt="jsme">
                    <div class="caption">
                        <h3 class='text-center'>Js美</h3>
                        <p>下半身和身体塑形医院</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie21">
                    <img src="../img/mijain/mijain_logo.jpg" alt="mijain_logo">
                    <div class="caption">
                        <h3 class='text-center'>美自人整形外科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">皮肤科</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie9">
                    <img src="../img/beautyclassic.jpg" alt="beautyclassic">
                    <div class="caption">
                        <h3 class='text-center'>美女经典皮肤科</h3>
                        <p>B型C型肝炎的健康检查</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie7">
                    <img src="../img/luxell.jpg" alt="luxell">
                    <div class="caption">
                        <h3 class='text-center'>luxell</h3>
                        <p>抗衰老护理医院表征</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie10">
                    <img src="../img/louivin.jpg" alt="louivin">
                    <div class="caption">
                        <h3 class='text-center'>鲁汶牙科&皮肤科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">牙科</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie11">
                    <img src="../img/sungmo.jpg" alt="sungmo">
                    <div class="caption">
                        <h3 class='text-center'>天主教大学医院</h3>
                        <p>全面体检</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie12">
                    <img src="../img/kunkook.jpg" alt="kunkook">
                    <div class="caption">
                        <h3 class='text-center'>建国大学医院</h3>
                        <p>全面体检</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie7">
                    <img src="../img/luxell.jpg" alt="luxell">
                    <div class="caption">
                        <h3 class='text-center'>Luxell</h3>
                        <p>B型C型肝炎的健康检查</p>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">外科</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie20">
                    <img src="../img/clean/clean_logo.jpg" alt="clean_logo">
                    <div class="caption">
                        <h3 class='text-center'>clean 外科</h3>
                        <p>静脉曲张</p>
                    </div>
                </a>
            </div>
        </div>
    </div>    
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">韩医院</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie10">
                    <img src="../img/louivin.jpg" alt="louivin">
                    <div class="caption">
                        <h3 class='text-center'>鲁汶牙科&皮肤科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie19">
                    <img src="../img/hus-hu/hus-hu_logo.jpg" alt="hus-hu_logo">
                    <div class="caption">
                        <h3 class='text-center'>Hus-hu 牙科</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie5">
                    <img src="../img/bomdental.jpg" alt="bomdental">
                    <div class="caption">
                        <h3 class='text-center'>春天来牙科医院</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">韩医院</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie14">
                    <img src="../img/myoungok.jpg" alt="temple_stay">
                    <div class="caption">
                        <h3 class='text-center'>明玉轩韩医院</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>    
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Temple stay</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/movie/movie2_1">
                    <img src="../img/temple_stay.gif" alt="temple_stay">
                    <div class="caption">
                        <h3 class='text-center'>Temple stay</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>    
</div>



    



<% include ../layout/footer %>