<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>



<div class="panel panel-primary">
    <div class="panel-body">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/snowfestival.jpg" alt="snowfestival">
                <div class="caption">
                    <h3 class='text-center'>행사소개</h3>
                    <p>
                    	행坡州 sweggol村雪花鳟鱼体验<br />
		                <br />
		                日期：2013年12月28日~2014年2月9日<br />
		                入场费：5，000韩币（大人，小人一样价格）<br />
		                活动内容：雪橇/传统滑冰/冰坯房体验/冰壁/给动物吃食/植物园参观学习/冰钓（加钱）/亲手抓鱼（加钱）<br />
                    </p>
					<a href='#' class='btn btn-primary'>구매하기</a>	                        
					<a href='/customer/gpsRoute' class='btn btn-primary'>위치찾기A</a>	 
                    <div id='ovarallrating' class="stars starrr pull-right" data-rating="0"></div>                        
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/villa.jpg" alt="villa">
                <div class="caption">
                    <h3 class='text-center'></h3>
                    <p></p>
					<a href='#page1' class='btn btn-primary'>구매</a>	                        
					<a href='#page1' class='btn btn-primary'>담기</a>	                        
					<a href='/music' class='btn btn-primary'>돌아가기</a>	                        
                </div>
            </div>
        </div>

    </div>    
</div>

<script>sessionStorage.gpsName = "Soekkol村坡州，京畿道";</script>

<% include ../layout/rating %>

<% include ../layout/footer %>