<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-body">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/louivin.jpg" alt="picture">
                <div class="caption">
                    <h3 class='text-center'>병원소개</h3>
                    <p>
                    	현재 이 병원은 언제 ㅌㅌㅌㅌ설립되어 진행되고 있으며 이와 관련한
                    </p>
                    <a href="#" class='btn btn-primary'>구매하기 </a>
            		<a href="/customer/gpsRoute"  class='btn btn-primary'>위치찾기A </a>
                    <div id='ovarallrating' class="stars starrr pull-right disabled" data-rating="0"></div>                         
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail1.jpg" alt="Picture">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail2.png" alt="Picture">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail1.jpg" alt="Picture">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail3.png" alt="Picture">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail4.png" alt="Picture">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail5.png" alt="Picture">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail6.png" alt="Picture">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img src="../img/luivin/luivin_detail7.png" alt="Picture">
            </div>
        </div>
        
        
        
        
        

    </div>    
</div>



<div class="box box-primary">
    <div class="box-header bg-primary">
        <h2 class="box-title">付款</h2>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            

            <div class="box-header">
                <h3 class='text-center'>总购买价</h3>
                <div class='text-center'><span id="price">$ 3000</span></div>
            </div>
            <div class="box-body">

                <div class="form-group">
                    <label for="name">地址</label>
                    <input type="text" name="name" id="name" value="" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="name">电话号码</label>
                    <input type="phone" name="phone" id="phone" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="slider">数量</label>
                    <input type="text" name="slider" id="slider" value="1" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="1" class="form-control span2 slider" />
                </div>

                <fieldset>
                    <legend>另请参阅</legend>
                    모든 서비스 상담 후 구매 하시기 바랍니다. 최고가격으로 Deposit 결제 후 구매 여부에 따라 다시 금액을 환불해 드립니다.<br><br>
                </fieldset>

                <div class="form-group">
                    <label for="select-choice-1" class="select">样的手术</label>
                    <select name="select-choice-2" id="select-choice-2" class='form-control'>
                        <optgroup label="牙科治疗">
                            <option value="3000">ENSLIM（非手术 缩小方下巴，脸面轮廓，咬肌） (3,000 USD)</option>
                            <option value="1200">矫正牙齿治疗时间1年 (1,200 USD)</option>
                            <option value="1100">层压门牙(1,100 USD)</option>
                            <option value="1100">磨牙全瓷(1,100 USD)</option>
                            <option value="400">蛀牙治疗-高强度树脂 (400 USD)</option>
                            <option value="800">牙齿美白 (800 USD)</option>
                        </optgroup>
                        <optgroup label="皮肤诊所费用">
                            <option value="4000">皮肤美白套装    (1回  4,000 USD,   3回   (12,000 USD)</option>
                            <option value="4000">Lifting套装  (1回  4,000 USD, 3回  (12,000 USD)</option>
                            <option value="3000">再生套装(1回  3,000 USD, 3回    (9,000,000 USD)</option>
                            <option value="800">Filler (800 USD)</option>
                        </optgroup>

                    </select>
                </div>

                


                <div class="form-group"> 
                    <input type="checkbox" name="checkbox-1" value="100" id="checkbox-1" class="custom" data-role="controlgroup" data-mini="true" data-type="horizontal" />
                                <label for="checkbox-1" value="100">Escourt Service($100) - One time</label>
                </div>
            </div><!-- /.box-body -->


        </div><!-- /.box-body -->

        <div class="box-footer">
            <a id='paypal' href='/order?desc=surgery&qty=1&amount=4000' class='btn btn-primary'>采购</a>
            <a id='wishlist' href='/wishList?desc=surgery&amount=4000' class='btn btn-primary'>添加到购物车</a>
            <a href='/music' class='btn btn-primary'>返回</a>
        </div>
    </form>
</div><!-- /.box -->

<script>
sessionStorage.gpsName = "鲁汶牙科&皮肤科";
PriceCalc.init();
</script>


<% include ../layout/rating %>

<% include ../layout/footer %>