<% if(isAuthenticated) { %>
    <% include ../layout/authheader %>
<% } else { %>
    <% include ../layout/header %>
<% } %>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">热点新闻</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news1_1">
                    <img src="../img/news1_1.jpg" alt="news1_1">
                    <div class="caption">
                        <h3 class='text-center'>监护室波塞</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
    </div>    
    
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">日歌</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news1">
                    <img src="../img/mcthemax.jpg" alt="mcthemax">
                    <div class="caption">
                        <h3 class='text-center'>你随风来</h3>
                        <p>MC The MAX</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news2">
                    <img src="../img/something.jpg" alt="something">
                    <div class="caption">
                        <h3 class='text-center'>Something</h3>
                        <p>Girl's day</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news3">
                    <img src="../img/iu.jpg" alt="iu">
                    <div class="caption">
                        <h3 class='text-center'>星期五见面吧</h3>
                        <p>IU</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news4">
                    <img src="../img/mydestiny.jpg" alt="mydestiny">
                    <div class="caption">
                        <h3 class='text-center'>My destiny</h3>
                        <p>Lyn</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news4">
                    <img src="../img/mcthemax.jpg" alt="mcthemax">
                    <div class="caption">
                        <h3 class='text-center'>然后，我们</h3>
                        <p>MC The MAX</p>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">新电影</h3>
    </div>
    <div class="panel-body">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news5_1">
                    <img src="../img/lawyer.jpg" alt="lawyer">
                    <div class="caption">
                        <h3 class='text-center'>法律顾问</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="/news/news5_1">
                    <img src="../img/suspect.jpg" alt="suspect">
                    <div class="caption">
                        <h3 class='text-center'>嫌疑人</h3>
                        <p></p>
                    </div>
                </a>
            </div>
        </div>
    
    </div>    
</div>


<% include ../layout/footer %>